@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url("images/wall.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}
/*netflix banner*/
.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  background-color: black;
  top: 0;
}
/*banner iwth opacity over netflix banner*/
nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
}
nav img {
  color: red;
  width: 114px;
  position: relative; /*images pos out*/
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
/*parent height we can keep the percentage of other attribute in percent*/
.hero {
  height: calc(100%-62px);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /*text pops out from the padding*/
  font-weight: bolder;
  gap: 23px;
  text-align: center;
}
.hero > :first-child {
  font-weight: bolder;
  font-size: 28px;
  text-align: center;
  padding: 0 30px;
  margin-top: 100px;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  font-family: "Martel Sans", sans-serif;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  font-family: "Martel Sans", sans-serif;
}
.sin {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  gap: 16px;
}
.separation {
  height: 7px;
  width: 100%;
  background-color: rgb(46, 44, 44);
}

.btn {
  background-color: rgba(248, 243, 243, 0.021);
  padding: 3px 8px;
  font-weight: 400;
  border-radius: 4px;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.814);
}
.main .btn_red_sm {
  background-color: red;
  padding: 3px 8px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.814);
}
.btn_red {
  font-weight: 400;
  background-color: red;
  padding: 3px 24px;
  color: white;
  font-size: 20px;
  border-radius: 7px;
  border: solid 1px rgba(255, 255, 255, 0.814);
}
.main input {
  background-color: rgba(23, 23, 23, 0.2);
  font-size: 12px;
  border-radius: 4px;
  font-weight: 900;
  padding: 7px 101px 8px 14px;
  border: 1px solid rgba(246, 238, 238, 0.7);
}

.first{
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto; 
  justify-content:center;
  align-items: center;
  color: white;
}

@media screen and (max-width:1134px){
  /* body{
    background-color: red;
  } */
  nav{
    max-width: 90vw;
  }
  .first{
    flex-wrap: wrap;
  }
  .tvimg img{
    width: 305px;
  }
  .tvimg video{
    width: 305px;
  }
  .hero>:nth-child(1){
    font-size: 24px;
  }
  .hero>:nth-child(2){
    font-size: 18px;
  }
  .hero>:nth-child(3){
    font-size: 12px;
  }
  .sin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    gap: 2px;
  }
}
.tvimg{
  position:relative;
}
.tvimg img{
  position: relative;
  width: 401px;
  z-index: 10;
}
.tvimg video{
  position:absolute;
  width: 401px;
  top: 48px;
  right:0;
}
section.first > div{
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}
section.first > div :nth-child(1){
  font-size: 30px;
  font-weight: bolder;
}
.first > div :nth-child(2){
  font-size: 24px;
}
.faq{
  background-color: black;
  color: white;
  padding:12px;
}
/* .faq-box svg{
  filter:invert(1);
} */
.faq h2{
  text-align: center;
  font-size: 48px;
}
.faq-box:hover{
  background-color:rgb(84, 84, 84);
  color: white;
}

.faq-box{
  color: white;
  background-color: #1a1a1a;
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  max-width: 60vw;
  margin: 34px auto;
  cursor: pointer;
}
footer{
  color:white;
  max-width: 60vw;
  margin: auto;
}

/* footer span{
  text-align: center;
  max-width: 60vw;
  margin:auto;
} */

footer .questions{
  padding: 34px 0;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  padding: 14px;
}


@media screen and (max-width:1134px){
  .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 25px;
  }
  .faq h2{
    text-align: center;
    font-size: 32px;
  }
  footer{
    max-width: 90vw;
  }
  .footer-item{
    align-items: center;

  }
}
.footer-item{
  display: flex;
  flex-direction: column;
  gap:11px;
}
.footer a{
  font-size: 14px;
  text-decoration: none;
  color: white;
}
